# Node.js dependencies
node_modules/

# Logs
npm-debug.log*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm/

# dotenv environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Package lock files
package-lock.json

# Build output directories
dist/
build/

# Temporary files
*.tmp
*.swp

# IDE files
.idea/
.vscode/
